body {
  background-image: url(/images/wallpaper.jpg);
  background-size: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

#logo-container {
  width: 30vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-container-sub {
  width: 30vw;
  height: 40vh;
  background-color: rgba(105, 105, 105, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 60%;
}

#logo {
  max-width: 10vw;
  min-width: 10vw;
}

.odin-text {
  color: white;
  font-size: 3vw;
  text-align: center;
  font-family: 'Hanalei Fill', sans-serif;
}

#main-container {
  width: 70vw;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.regular-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.signup-text {
  margin-left: 5%;
  margin-right: 40%;
}

.start-text {
  margin-left: 5%;
  margin-right: 5%;
  height: 4vh;
  width: 100%;
  display: block;
}

#form-container {
  height: 50vh;
  width: 70vw;
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}

.grid-element {
  margin-left: 10%;
}

#submit-btn {
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(105, 105, 105);
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 6rem;
  border: none;
  border-radius: 15px;
}

#submit-btn:hover {
  background-color: rgba(105, 105, 105, 0.5);
  cursor: pointer;
}

#submit-btn:active {
  background-color: #3b7399;
  position: relative;
  top: 3px;
}

a {
  color: #3b7399;
  text-decoration: none;
}
